/* enter button module css */
/* .enterButtonDiv {
    border-radius: 20px;
    background-color: lightblue;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto; 
}

.enterButtonDiv h5 {
    padding: 7px;
    margin: 0; 
} */

.enterButtonDiv {
    text-align: center;
    /* width: 100%; */
}