

.futureDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(134,200,141);
    background: radial-gradient(circle, rgba(134,200,141,1) 0%, rgba(184,184,184,1) 98%); 
}
.futureDiv p {
    width: 80%;
font-size: 18px;
}

.title {
    border-bottom: none !important;
    color: black;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
