.mainDiv {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    padding: 3%;
   
}

.image {
    max-height: 50%;
    max-width: 40%;
    padding-left: 3%;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
}


.text {
    max-width: 60%;
}

