.Navbar {
  background-color: var(--navbar-background-color);
  /* padding-top: 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.Navbar h1 {
  margin-top: 0;
}

.unselectedButton p {
  border-radius: 1rem;
  font-size: 1.35rem;
  font-family: "SanFrancisco";
  line-height: 1.25;
  max-width: 100%;
  width: fit-content;
  padding: 0.5rem 0.875rem;
  position: relative;
  background-color: gray;
}

.imessage p {
  border-radius: 1.15rem;
  font-size: 1.35rem;
  font-family: "SanFrancisco";
  line-height: 1.25;
  max-width: 100%;
  width: fit-content;
  padding: 0.5rem 0.875rem;
  position: relative;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.fromThem {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.fromThem:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1.45rem solid #e5e5ea;
  left: -0.3rem;
  transform: translate(0, -0.1rem);
}

p.fromThem::after {
  background-color: var(--navbar-background-color);
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}



/* need to make like an animation */

/* general styling */
@font-face {
  font-family: "SanFrancisco";
  src: url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2")
      format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff")
      format("woff");
}
